* {
  box-sizing: border-box;
}

body {
  margin: 300px;
}

table,
td,
th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 300px;
}

th {
  text-align: center;
  height: 30px;
  font-size: 30px;
}

td {
  text-align: center;
  font-size: 20px;
  height: 30px;
}

.field {
  width: 750px;
  height: 750px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(24, 116, 119);
}

.excel {
  width: 50px;
  height: 50px;
  padding: 5px;
}

.snakeBody {
  background: url(/img/scale3.jpg);
  background-size: cover;
  border-radius: 50%;
}

.head {
  background: url(/img/head.png);
  background-size: cover;
  border-radius: 10%;
}

.mouse {
  background: url(/img/Water_Melon.svg);
  background-size: cover;
}
